/.settings/
/target/
.classpath
.project
.DS_Store
/.vscode/
/.history/
/.idea/
logs/
project/target/
project/project/
target/
build/
*.iml
*.ipr
*.iws
.idea/
.out
out
output
.gradle
.cache
.settings/
*.dot
*part-*
derby.log
metastore_db
spark-warehouse
*.bak
*.log
*.conf
config/application.yml
config/datasource_driver.yml
swagger-ui/
tempFiles/
userfiles/
.vscode
*yarn.lock
bin/upgrade.go
bin/upgrade