logs/
project/target/
project/project/
target/
build/
*.iml
*.ipr
*.iws
.idea/
.out
out
output
.gradle
.project
.cache
.classpath
.settings/
*.dot
.DS_Store
*part-*
derby.log
metastore_db
spark-warehouse
*.bak
*.log
*.conf
config/application.yml
config/datasource_driver.yml
swagger-ui/
tempFiles/
userfiles/
.vscode
*yarn.lock
bin/upgrade.go
bin/upgrade
.history/