@import "../../assets/less/variable";

.filterConfig {
  height: 480px;
  margin: -24px;
  display: flex;
  flex-direction: row;

  .left {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 200px;
    border-right: 1px solid @border-color-split;
  }

  .center {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  // .bottom {
  //   min-height: 90px;
  //   border-top: 1px solid @border-color-split;
  //   display: flex;
  //   flex-direction: column;
  // }
}

.filterList {
  flex: 1;
  display: flex;
  flex-direction: column;

  .title {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid @border-color-split;
    padding: 8px;

    h2 {
      flex: 1;
      padding-left: 8px;
      font-size: 14px;
      color: @light-text-color;
    }

    i {
      margin-left: 8px;
      color: @disabled-text-color;

      &:hover {
        color: @text-color;
        cursor: pointer;
      }
    }
  }

  .list {
    flex: 1;
    overflow-y: auto;

    li {
      .ellipsis;

      line-height: 24px;
      padding: 0 8px;
      box-sizing: border-box;
      border-bottom: 1px solid @border-color-split;
      cursor: pointer;

      label {
        padding-left: 8px;
        cursor: pointer;
      }

      &:hover {
        background-color: lighten(@primary-color, 30%);
      }

      &.selected {
        background-color: lighten(@primary-color, 30%);
      }
    }
  }

  .treeContainer {
    flex: 1;
    padding: 4px 8px;
    overflow: auto;
  }

  .tree {
    :global(li) {
      padding: 2px 0;
    }

    :global(li span.ant-tree-switcher),
    :global(li span.ant-tree-iconEle) {
      width: 18px;
      height: 18px;
    }
    :global(li .ant-tree-node-content-wrapper) {
      padding: 0 4px 0 2px;
    }
    :global(li .ant-tree-node-content-wrapper:hover),
    :global(li .ant-tree-node-content-wrapper.ant-tree-node-selected) {
      background-color: transparent;
    }
    :global(li .ant-tree-node-content-wrapper.ant-tree-node-selected) {
      color: @primary-color;
      font-weight: bold;
    }
  }
}

.filterForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  font-size: 12px;

  .title {
    flex-shrink: 0;
    margin: 0 -16px;
    padding: 0 8px;
    display: flex;
    flex-direction: row;

    h2 {
      flex: 1;
      color: @light-text-color;
      font-size: 14px;
      line-height: 3em;
    }

    .checkAll {
      margin-left: 96px;
      font-weight: normal;
    }

    &.widgetConfigTitle {
      border-bottom: 1px solid @border-color-split;
    }
  }

  .controlConfig {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  }

  .widgetConfig {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  :global(.ant-form-item) {
    margin-bottom: 4px;
  }
  :global(.ant-form-item-label) {
    line-height: 1em;
  }
  :global(.ant-form-item-label label) {
    color: @disabled-text-color;
    font-size: 12px;
    font-weight: bold;
  }
  :global(.ant-form-item-required:before) {
    margin-right: 2px;
    vertical-align: middle;
  }
  :global(.ant-form-item-control) {
    line-height: 32px;
  }

  .configItem {
    flex: 1;
    display: flex;

    .itemList {
      flex: 1;
      padding: 16px 0;
      border-right: 1px solid @border-color-split;
      overflow-y: auto;

      >div:nth-child(1+n) {
        border-top: 1px solid @border-color-split;
      }
    }

    .viewSet {
      flex: 1;
      padding: 16px 0 16px 16px;
      overflow-y: auto;

      h3 {
        font-weight: normal;
        line-height: 32px;
        .ellipsis;
      }
    }

    .item {
      padding: 0 16px;
      .ellipsis;
    }
  }

  .configItem + .configItem {
    border-top: none;
  }
}

.filterValuePreview {
  flex: 1;
  display: flex;
  flex-direction: column;

  .previewContent {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  ul {
    overflow-y: auto;
    flex: 1;

    li {
      line-height: 24px;
      padding: 0 8px;

      .ellipsis;
    }
  }
}

.filterPanel {
  background-color: @white;
  padding: 0 8px;
  margin-top: 16px;
  border-radius: 3px;
}

.filterControl {
  margin-top: 8px;
  margin-bottom: 8px;
}

.filterControlComponent {
  width: 100% !important;
}