@import '../../../../assets/less/variable';

.chartContainer {
  flex: 1;
}

.scorecard {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .scorecardContainer {
    max-width: 100%;

    .scorecardTitle {
      padding: 8px 0 0;
      display: block;

      .ellipsis;

      span {
        display: inline-block;
        line-height: 1;
        white-space: pre;
      }
    }
  }
}

.iframePage {
  flex: 1;
  border: none;
}

.formattedCell {
  display: flex;
  flex-direction: row;

  &.left {
    align-items: flex-start;
    justify-content: flex-start;
  }
  &.center {
    align-items: center;
    justify-content: center;
  }
  &.right {
    align-items: flex-end;
    justify-content: flex-end;
  }
}

.table {
  :global(.ant-table),
  :global(.ant-pagination),
  :global(.ant-select) {
    font-size: 12px;
  }
  :global(.ant-table-header) {
    // @FIXME
    margin-right: 15px;
    margin-bottom: 0 !important;
    .hideScrollbar
  }

  :global(.ant-table-thead th) {
    padding: 0;
    height: 1px;

    & > div {
      height: 100%;
    }
  }

  :global(.ant-table-body) {
    background: transparent !important;

    :global(.ant-table-row:hover) {
      background: transparent !important;
    }

    td {
      padding: 0 !important;
      height: 1px;
    }
  }

  :global(.ant-table-tbody) {
    background: transparent !important;

    :global(.ant-table-row:hover) {
      background: transparent !important;
    }

    td {
      padding: 0 !important;
      height: 1px;
    }
  }

  .mergedCell {
    background-color: transparent;
  }

  .headerCell {
    height: 100%;
    padding: 10px 8px;
    background-color: transparent;
    display: flex;
    align-items: center;
  }

  .tableCell {
    height: 100%;
    display: flex;

    .valCell {
      padding: 10px 8px;
      flex: 1;
      display: flex;
      align-items: center;
    }
    .cdtCell {
      padding: 4px 0;

    }
  }
}

