<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edp.davinci.dao.ExcludePortalTeamMapper">

    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert ignore into exclude_portal_team
        (team_id, portal_id,update_by, update_time)
        values
        <foreach collection="list" item="record" index="index" separator=",">
            (
            #{record.teamId,jdbcType=BIGINT},
            #{record.portalId,jdbcType=BIGINT},
            #{record.updateBy,jdbcType=BIGINT},
            #{record.updateTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>


    <delete id="deleteByPortalIdAndTeamIds">
        delete from exclude_portal_team where portal_id = #{portalId} and team_id in
        <foreach collection="teamIds" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
</mapper>