<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edp.davinci.dao.ExcludeSlideTeamMapper">
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert ignore into exclude_slide_team
        (team_id, slide_id,update_by, update_time)
        values
        <foreach collection="list" item="record" index="index" separator=",">
            (
            #{record.teamId,jdbcType=BIGINT},
            #{record.slideId,jdbcType=BIGINT},
            #{record.updateBy,jdbcType=BIGINT},
            #{record.updateTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>
</mapper>