<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edp.davinci.dao.ExcludeDashboardTeamMapper">
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert ignore into exclude_dashboard_team
        (team_id, dashboard_id,update_by, update_time)
        values
        <foreach collection="list" item="record" index="index" separator=",">
            (
            #{record.teamId,jdbcType=BIGINT},
            #{record.dashboardId,jdbcType=BIGINT},
            #{record.updateBy,jdbcType=BIGINT},
            #{record.updateTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <delete id="deleteByDashboardIdAndTeamIds">
        delete from exclude_dashboard_team where dashboard_id = #{dashboardId} and team_id in
        <foreach collection="teamIds" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <select id="selectExcludesByDashboardIds" resultType="edp.davinci.model.ExcludeDashboardTeam">
        select * from exclude_dashboard_team where dashboard_id in
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>