<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edp.davinci.dao.RelRoleDisplaySlideWidgetMapper" >

    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        replace into rel_role_display_slide_widget
        (`role_id`, `mem_display_slide_widget_id`, `visible`, `create_by`, `create_time`)
        VALUES
        <foreach collection="list" item="record" index="index" separator=",">
            (
            #{record.roleId,jdbcType=BIGINT},
            #{record.memDisplaySlideWidgetId,jdbcType=BIGINT},
            #{record.visible,jdbcType=TINYINT},
            #{record.createBy,jdbcType=BIGINT},
            #{record.createTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <delete id="deleteByMemDisplaySlideWidgetIds" parameterType="java.util.Set">
        delete from rel_role_display_slide_widget where
        <if test="memDisplaySlideWidgetIds != null and memDisplaySlideWidgetIds.size > 0">
            mem_display_slide_widget_id in
            <foreach collection="memDisplaySlideWidgetIds" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="memDisplaySlideWidgetIds == null or memDisplaySlideWidgetIds.size == 0">
            1=0
        </if>
    </delete>

</mapper>