<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edp.davinci.dao.RelRoleDashboardMapper">
    <insert id="insert" parameterType="edp.davinci.model.RelRoleDashboard">
        insert ignore rel_role_dashboard
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `role_id`,
            `dashboard_id`,
            `visible`,
            `create_by`,
            `create_time`
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{roleId,jdbcType=BIGINT},
            #{dashboardId,jdbcType=BIGINT},
            #{visible,jdbcType=TINYINT},
            #{createBy,jdbcType=BIGINT},
            #{createTime,jdbcType=TIMESTAMP}
        </trim>
    </insert>

    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        replace into rel_role_dashboard
        (`role_id`, `dashboard_id`, `visible`, `create_by`, `create_time`)
        VALUES
        <foreach collection="list" item="record" index="index" separator=",">
            (
            #{record.roleId,jdbcType=BIGINT},
            #{record.dashboardId,jdbcType=BIGINT},
            #{record.visible,jdbcType=TINYINT},
            #{record.createBy,jdbcType=BIGINT},
            #{record.createTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <delete id="deleteByDashboardIds" parameterType="java.util.Set">
        delete from rel_role_dashboard where
        <if test="dashboardIds != null and dashboardIds.size > 0">
            dashboard_id in
            <foreach collection="dashboardIds" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="dashboardIds == null or dashboardIds.size == 0">
            1=0
        </if>
    </delete>
</mapper>