<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edp.davinci.dao.RelRoleProjectMapper">

    <insert id="insert" parameterType="edp.davinci.model.RelRoleProject">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT id from rel_role_project where `role_id` = #{roleId} and `project_id` = #{projectId}
        </selectKey>
        insert ignore rel_role_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `project_id`,
            `role_id`,
            `source_permission`,
            `view_permission`,
            `widget_permission`,
            `viz_permission`,
            `schedule_permission`,
            `share_permission`,
            `download_permission`,
            `create_by`,
            `create_time`,
        </trim>
        values
        <trim prefix=" (" suffix=")" suffixOverrides=",">
            #{projectId, jdbcType=BIGINT},
            #{roleId, jdbcType=BIGINT},
            #{sourcePermission, jdbcType=SMALLINT},
            #{viewPermission, jdbcType=SMALLINT},
            #{widgetPermission, jdbcType=SMALLINT},
            #{vizPermission, jdbcType=SMALLINT},
            #{schedulePermission, jdbcType=SMALLINT},
            #{sharePermission, jdbcType=TINYINT},
            #{downloadPermission, jdbcType=TINYINT},
            #{createBy,jdbcType=BIGINT},
            #{createTime,jdbcType=TIMESTAMP}
        </trim>
    </insert>
</mapper>