<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edp.davinci.dao.RelRoleDashboardMapper">
    <insert id="insert" parameterType="edp.davinci.model.RelRoleDashboard">
        insert ignore rel_role_dashboard
        <trim prefix="(" suffix=")" suffixOverrides=",">
            role_id,
            dashboard_id,
            visiable,
            create_by,
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{roleId,jdbcType=BIGINT},
            #{dashboardId,jdbcType=BIGINT},
            #{visiable,jdbcType=TINYINT},
            #{createBy,jdbcType=BIGINT},
            #{createTime,jdbcType=TIMESTAMP}
        </trim>
    </insert>
</mapper>