<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edp.davinci.dao.RelUserOrganizationMapper" >
    <insert id="insert" parameterType="edp.davinci.model.RelUserOrganization">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert rel_user_organization
        <trim prefix="(" suffix=")" suffixOverrides="," >
            org_id,
            user_id,
            role
        </trim>
        values
        <trim prefix=" (" suffix=")" suffixOverrides="," >
            #{orgId, jdbcType=BIGINT},
            #{userId, jdbcType=BIGINT},
            #{role, jdbcType=SMALLINT}
        </trim>
    </insert>
</mapper>