<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ <<
  ~  Davinci
  ~  ==
  ~  Copyright (C) 2016 - 2019 EDP
  ~  ==
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~   Unless required by applicable law or agreed to in writing, software
  ~   distributed under the License is distributed on an "AS IS" BASIS,
  ~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~   See the License for the specific language governing permissions and
  ~   limitations under the License.
  ~  >>
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edp.davinci.dao.RelUserOrganizationMapper">
    <insert id="insert" parameterType="edp.davinci.model.RelUserOrganization">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert ignore rel_user_organization
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `org_id`,
            `user_id`,
            `role`,
            `create_by`,
            `create_time`
        </trim>
        values
        <trim prefix=" (" suffix=")" suffixOverrides=",">
            #{orgId, jdbcType=BIGINT},
            #{userId, jdbcType=BIGINT},
            #{role, jdbcType=SMALLINT},
            #{createBy, jdbcType=BIGINT},
            #{createTime, jdbcType=TIMESTAMP}
        </trim>
    </insert>


    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert ignore into rel_user_organization
        (`org_id`,`user_id`, `role`, `create_by`, `create_time`)
        values
        <foreach collection="set" item="record" index="index" separator=",">
            (
            #{record.orgId,jdbcType=BIGINT},
            #{record.userId,jdbcType=BIGINT},
            #{record.role,jdbcType=SMALLINT},
            #{record.createBy,jdbcType=BIGINT},
            #{record.createTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>


    <delete id="deleteBatch" parameterType="java.util.List">
        DELETE FROM rel_user_organization WHERE
        <if test="set != null and set.size > 0">
            id in
            <foreach collection="set" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="set == null or set.size == 0">
            1=0
        </if>
    </delete>

    <select id="selectOrgMembers" resultType="edp.davinci.dto.userDto.UserBaseInfo">
        select DISTINCT u.id, IF(u.`name` is NULL,u.`username`,u.`name`) as username, u.`email`, u.`avatar`
        from `user` u left join rel_user_organization ruo on u.id = ruo.user_id
        where ruo.org_id = #{orgId}
        <if test="ids != null and ids.size > 0">
            and u.id in
            <foreach collection="ids" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="ids == null or ids.size == 0">
            and 1=0
        </if>
    </select>
</mapper>
