<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ <<
  ~  Davinci
  ~  ==
  ~  Copyright (C) 2016 - 2019 EDP
  ~  ==
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~   Unless required by applicable law or agreed to in writing, software
  ~   distributed under the License is distributed on an "AS IS" BASIS,
  ~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~   See the License for the specific language governing permissions and
  ~   limitations under the License.
  ~  >>
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edp.davinci.dao.UserMapper">

    <insert id="insert" parameterType="edp.davinci.model.User">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert `user`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `email`,
            `username`,
            `password`,
            `admin`,
            `active`,
            `create_time`,
            `create_by`,
            <if test='name != null and name != "" '>
                `name`,
            </if>
            <if test='description != null and description != "" '>
                `description`,
            </if>
            <if test='department != null and department != "" '>
                `department`,
            </if>
            <if test='avatar != null and avatar != "" '>
                `avatar`
            </if>
        </trim>
        values
        <trim prefix=" (" suffix=")" suffixOverrides=",">
            #{email, jdbcType=VARCHAR},
            #{username, jdbcType=VARCHAR},
            #{password, jdbcType=VARCHAR},
            #{admin, jdbcType=TINYINT},
            #{active, jdbcType=TINYINT},
            #{createTime, jdbcType=TIMESTAMP},
            #{createBy, jdbcType=BIGINT},
            <if test='name != null and name != "" '>
                #{name, jdbcType=VARCHAR},
            </if>
            <if test='description != null and description != "" '>
                #{description, jdbcType=VARCHAR},
            </if>
            <if test='department != null and department != "" '>
                #{department, jdbcType=VARCHAR},
            </if>
            <if test='avatar != null and avatar != "" '>
                #{avatar, jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>


    <select id="getUsersByKeyword" resultType="edp.davinci.dto.userDto.UserBaseInfo">
        select DISTINCT u.id, IF(u.`name` is NULL,u.`username`,u.`name`) as username, u.`email`, u.`avatar`
        from `user` u
        LEFT JOIN rel_user_organization r on r.user_id = u.id
        where
        <if test='orgId != null and orgId > 0 '>
            r.org_id = #{orgId} and
        </if>
        LOWER(`username`) like CONCAT(CONCAT('%', LOWER(#{keyword})), '%')
        or LOWER(`name`) like CONCAT(CONCAT('%', LOWER(#{keyword})), '%')
        or LOWER(`email`) like CONCAT(CONCAT('%', LOWER(#{keyword})), '%')
    </select>

    <select id="getByIds" resultType="edp.davinci.model.User">
        select * from `user` where
        <if test="userIds != null and userIds.size > 0">
            id in
            <foreach collection="userIds" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="userIds == null or userIds.size == 0">
            1=0
        </if>
    </select>

</mapper>