<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edp.davinci.dao.UserMapper" >

    <insert id="insert" parameterType="edp.davinci.model.User">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            email,
            username,
            password,
            admin,
            active,
            create_time,
            create_by,
            <if test='name != null and name != "" '>
                `name`,
            </if>
            <if test='description != null and description != "" '>
                description,
            </if>
            <if test='department != null and department != "" '>
                department,
            </if>
            <if test='avatar != null and avatar != "" '>
                avatar
            </if>
        </trim>
        values
        <trim prefix=" (" suffix=")" suffixOverrides="," >
            #{email, jdbcType=VARCHAR},
            #{username, jdbcType=VARCHAR},
            #{password, jdbcType=VARCHAR},
            #{admin, jdbcType=TINYINT},
            #{active, jdbcType=TINYINT},
            #{createTime, jdbcType=TIMESTAMP},
            #{createBy, jdbcType=BIGINT},
            <if test='name != null and name != "" '>
                #{name, jdbcType=VARCHAR},
            </if>
            <if test='description != null and description != "" '>
                #{description, jdbcType=VARCHAR},
            </if>
            <if test='department != null and department != "" '>
                #{department, jdbcType=VARCHAR},
            </if>
            <if test='avatar != null and avatar != "" '>
                #{avatar, jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    
    <select id="getUsersByKeyword" resultType="edp.davinci.dto.userDto.UserBaseInfo">
      select DISTINCT u.id, u.username, u.avatar
      from `user` u
      LEFT JOIN rel_user_organization r on r.user_id = u.id
      where
        <if test='orgId != null and orgId > 0 '>
            r.org_id = #{orgId} and
        </if>
        LOWER(username) like CONCAT(CONCAT('%', LOWER(#{keyword})), '%')
        or LOWER(name) like CONCAT(CONCAT('%', LOWER(#{keyword})), '%')
        or email like #{keyword}
    </select>

</mapper>