<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edp.davinci.dao.WidgetMapper">
    <insert id="insert" parameterType="edp.davinci.model.Widget">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into widget
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `name`,
            <if test="description != null">
                description,
            </if>
            view_id,
            project_id,
            `type`,
            publish,
            config
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{name,jdbcType=VARCHAR},
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            #{viewId,jdbcType=BIGINT},
            #{projectId,jdbcType=BIGINT},
            #{type,jdbcType=BIGINT},
            #{publish,jdbcType=BIT},
            #{config,jdbcType=LONGVARCHAR}
        </trim>
    </insert>


    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert ignore into widget
        (`id`,`name`,description, view_id, `project_id`, `type`, publish,config)
        VALUES
        <foreach collection="list" item="record" index="index" separator=",">
            (
            #{record.id,jdbcType=BIGINT},
            #{record.name,jdbcType=VARCHAR},
            #{record.description,jdbcType=VARCHAR},
            #{record.viewId,jdbcType=BIGINT},
            #{record.projectId,jdbcType=BIGINT},
            #{record.type,jdbcType=BIGINT},
            #{record.publish,jdbcType=BIT},
            #{record.config,jdbcType=LONGVARCHAR}
            )
        </foreach>
    </insert>


    <select id="getByIds" resultType="edp.davinci.model.Widget" parameterType="java.util.Set">
        select * from widget where id in
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>