akka {
  loglevel = INFO
  version = 2.4.17
}

akka.http {
  server {

    # Defines the default time period within which the application has to
    # produce an HttpResponse for any given HttpRequest it received.
    # The timeout begins to run when the *end* of the request has been
    # received, so even potentially long uploads can have a short timeout.
    # Set to `infinite` to completely disable request timeout checking.
    #
    # If this setting is not `infistomization of the timeout period and timeout response for each
    # request individually.
    request-timeout = 30 s
  }
}

source {
  #HikariCP uses milliseconds for all time values.
  maximumPoolSize = 100
  minimumIdle = 5
  idleTimeout = 600000
  maxLifetime = 1800000
}

mysqldb {
  profile = "slick.jdbc.MySQLProfile$"
  db {
    url = "jdbc:mysql://localhost:3306/yourdb?useSSL=false"
    user = "*"
    password = "*"
    profile = com.mysql.jdbc.Driver
    keepAliveConnection = true
    numThreads = 5
  }
}



httpServer {
  host = "localhost"
  port = 8080
}



jwtToken {
  typ = "JWT"
  algorithm = "HS512"
  timeout = 31536000
  secret = "your secret"
}

aes {
  secret = "your secret"
}

ldap {
  isEnable = false
  url = ""
  dc = ""
  user = ""
  pwd = ""
  read.timeout = "5000"
  connect {
    timeout = "5000"
    pool = true
  }
}


cache {
  isEnable = false
  url: "127.0.0.1:6379"
  auth:""
  expire:3
  mode:"stand-alone"
}


mail{
    # 邮件服务器的SMTP地址
    host = smtp.yeah.net
    # 邮件服务器的SMTP端口
    port = 465
    # 发件人（必须正确，否则发送失败）
    from = hutool@yeah.net
    # 用户名
    user = hutool
    # 密码（注意，某些邮箱需要为SMTP服务单独设置密码，详情查看相关帮助）
    pass = q1w2e3

    #使用 STARTTLS安全连接
    startttlsEnable = true
    # 指定实现javax.net.SocketFactory接口的类的名称,这个类将被用于创建SMTP的套接字
    socketFactoryClass = javax.net.ssl.SSLSocketFactory
    # 如果设置为true,未能创建一个套接字使用指定的套接字工厂类将导致使用java.net.Socket创建的套接字类, 默认值为true
    socketFactoryFallback = true
    # 指定的端口连接到在使用指定的套接字工厂。如果没有设置,将使用默认端口465
    socketFactoryPort = 465
}
