@import "../../assets/less/variable";

.bizlogic {
  height: 100%;
  background-color: @white;
  font-size: 12px;
  display: flex;
  flex-direction: column;

  .header {
    flex-shrink: 0;
    border-radius: 4px 4px 0 0;
    background: @white;
    border-bottom: 1px solid @border-color-base;
    box-shadow: none;
  }

  .formView {
    flex: 1;
    display: flex;
    flex-direction: row;
    min-height: 0;
    border-bottom: 1px solid @border-color-base;
  
    .formLeft {
      width: 230px;
      background-color: @light-bg;
      flex-shrink: 0;
      overflow: auto;
      border-right: 1px solid @border-color-base;
      display: flex;
      flex-direction: column;
  
      .leftInput {
        flex-shrink: 0;
        line-height: 24px;
      }
      
      .sourceSelect {
        padding: 8px;
        border-bottom: 1px solid @border-color-base;
        line-height: 24px;
      }

      .treeSearch {
        padding: 8px 8px 0;
      }

      .sourceTree {
        flex-shrink: 1;
        padding: 0 8px 8px;
        overflow: auto;

        .tree {
          font-size: 12px;
        }
      }
    }
    
    .formRight {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;

      .declareSelect {
        max-width: 272px;
        margin: 16px 0 6px 16px;

        :global(.ant-form-item) {
          margin-bottom: 0;
        }
      }
  
      .formTop {
        flex: 2;
        padding: 0 16px;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        min-height: 0;
  
        .noDeclaration {
          display: none;
        }

        .declareText {
          margin-bottom: 16px;
          flex: 1;
          overflow-y: auto;
          height: 100%;
        }

        .sqlText {
          height: 100%;
          flex: 1;
        }
      }
      .formBottom {
        flex: 3;
        border-top: 1px solid @border-color-base;
        padding-left: 16px;
        display: flex;
        flex-direction: column;
      }
      .formBottomNone {
        display: none;
      }

      .tabCol {
        display: flex;
        flex-direction: column;
        flex: 1;

        .viewTab {
          display: flex;
          flex-direction: column;
          flex: 1;
          margin-right: 16px;

          .viewTabPane {
            position: absolute;
            overflow-y: auto;
            top: 36px;
            height: 100%;
            width: 100%;
            padding-bottom: 30px;
            font-size: 12px;

            :global(.ant-table) {
              font-size: 12px;
            }
          }
        }
      }
      .sqlAlertText {
        margin-right: 16px;
      }
      .fromBtn {
        margin: 10px 16px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .sqlAlert {
          flex: 1;
        }

        .limit {
          flex-shrink: 0;
          margin: 0 16px;
          color: @disabled-text-color;
          font-weight: bold;
          line-height: 32px;
          
          .input {
            width: 80px;
            margin: 0 2px;
            display: inline-block;
          }
        }

        .executeBtn {
          flex-shrink: 0;
        }
      }
    }
  }
  .footBtn {
    display: flex;
    flex-direction: row-reverse;
    .btn {
      flex-shrink: 0;
      margin: 10px 16px 16px auto;
    }
  }
}

.teamTree {
  display: flex;
  direction: row;
  .teamTreeTitle {
    width: 130px;
    flex-shrink: 0;
    .ellipsis;
    padding-right: 25px;
  }
  .teamInput {
    width: 90px;
    margin-left: 10px;
  }
}

.foldIcon, .noFoldIcon {
  float: right;
  font-size: 18px;
  line-height: 2;
  cursor: pointer;
  margin: 2px 16px 0 0;
}

.foldIcon:before, .noFoldIcon:before {
  font-size: 18px !important;
}

.noFoldIcon {
  text-align: right;
  margin-right: 50px;
  margin-top: -10px;
}

.declareMsg {
  width: 213px;
  height: 160px;
  .textMsg {
    font-weight: bold;
  }
  .exampleMsg {
    background-color: #f7f7f7;
    padding: 16px;
    margin-bottom: 16px;
  }
}

.questionClass {
  margin-left: 2px;
  cursor: pointer;
}
