@import "~assets/less/variable";

.groupList {
  padding: 8px 24px;
  box-shadow: 0 -1px 0 @grey-line-color;
  display: flex;
  justify-content: space-between;
  &:hover {
    color: @blue;
    cursor: pointer;
  }
  .orgHeader {
    display: flex;
    //flex-direction: column;
    .avatar {
      display: flex;
      align-items: center;
      img {
        vertical-align: top;
      }
    }
    .name {
      display: flex;
      flex-direction: column;
      margin-left: 8px;
      .title {
        font-weight: 400;
        font-size: 16px;
        .nameTag {
          color: @white;
          font-size: 12px;
          margin-left: 8px;
          background: lighten(@blue, 20%);;
          padding: 1px 6px;
          border-radius: 3px;
        }
      }
      .desc {
        font-size: 12px;
        color: @light-text-color;
      }
    }
  }
  .setting {
    align-self: center;
    font-size: 18px;
    cursor: pointer;
  }
}

.listWrapper {
  margin: 12px auto 24px auto;
  padding: 0 8px;
  .tableWrap {
    padding: 24px 0px 8px 0px;
  }
}

.organizationLogo {
  margin: 24px auto 24px 8px;
  display: flex;
  img {
    vertical-align: top;
  }
  .title {
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    margin-left: 16px;
    color: @rich-text;
  }
}

.container {
  display: flex;
  padding-left: 40px;
  padding-bottom: 60px;
  flex-direction: column;
  .form {
    flex: 1;
  }
  hr {
    margin: 0 0 48px 0;
    border: 0;
    border-top: 1px solid @grey-line-color;
  }
}

.addCol {
  padding: 0 4px;
  text-align: right;
}

.projectItemWrap{
  padding: 8px 8px;
  margin-top: 16px;
  border-radius: 4px;
  display: flex;
  border: 1px solid @grey-line-color;
  &:hover {
    box-shadow: @block-box-shadow;
    //transform: translate3d(0, -5px, 0);
    cursor: pointer;
   .avatarWrapper {
    background-size: 110%;
   }
  }
  .avatarWrapper{
    width: 260px;
    height: 120px;
    margin-right: 20px;
    flex-shrink: 0;
    background-color: @body-background;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    border-radius: 2px;
    box-shadow: @block-box-shadow;
    transform: translate3d(0, 0, 0);
    transition: transform 200ms linear,
    box-shadow 200ms linear,
    background-size 500ms linear;
    position: relative;
  }
  .detailWrapper {
    display: flex;
    flex-direction: column;
    .title {
      max-width: 460px;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 16px;
      color: @blue;
      cursor: pointer;
      padding: 0px 58px 0 0;
      .ellipsis;
    }
    .desc {
      font-size: 12px;
      max-width: 400px;
      color: @light-text-color;
      margin-bottom: 8px;

      .ellipsis;
    }
    .tag {
      margin-bottom: 8px;
      span {
        font-size: 12px;
      }
    }
    .others {
      display: flex;
      .updateTime {
        color: @rich-text;
        margin-right: 32px;
        .label {
          color: @light-text-color;
          margin-right: 8px;
        }
      }
      .stars {
        margin-right: 32px;
        cursor: pointer;
        color: @rich-text;
      }
      .delete {
        cursor: pointer;
        margin-left: 16px;
        i {
          font-size: 18px;
          line-height: 21px;
        }
      }
    }
  }
}
.create {
  font-size: 24px;
  line-height: 32px;
  margin-left: 6px;
  cursor: pointer;
}

.formWrapper {
  padding: 16px;
  text-align: left;
  .header {
    .title{
      font-size: 24px;
      color:@rich-text;
      font-weight: 600;
      .orgName {
        font-size: 20px;
        color: @blue;
      }
    }
    .desc{
      margin-top: 4px;
      font-size: 14px;
      color:@light-text-color;
    }
  }
  .body {
    margin: 16px auto;
  }
  .footer{
    button {
      margin-right: 6px;
    }
  }
}

.permissionZone {
  margin:20px 20px;
}
.selectOption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title{
    display: flex;
    align-items: center;
  }
  .owner{
    color: @rich-text;
    font-size: 18px;
    font-weight: 600;
    margin-right: 8px;
  }
}

.dangerZone{
  margin-left: 20px;
  .title {
    font-weight: 600;
    font-size: 16px;
    margin: 24px auto 16px auto;
    color: crimson;
  }
  .titleDesc {
    padding: 16px;
    border-radius: 6px;
    border: 1px solid crimson;
    display: inline-block;
    .button {
      font-weight: 600;
      font-size: 18px;
      color: @rich-text;
    }
    .desc{
      margin-bottom: 8px;
      font-size: 12px;
      color: crimson;
    }
  }
}

.badge {
  display: inline-block;
  vertical-align: text-bottom;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #586069;
  background-color: rgba(27,31,35,0.08);
  border-radius: 20px;
  margin-left: 4px;
}

.avatarWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.avatarName {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  margin-left: 8px;
}

.radioStyle {
  display: block;
  height: 30px;
  line-Height: 30px;
}

.radioWrapper {
  display: flex;
  margin-bottom: 8px;

  :global(.ant-radio-wrapper) {
    padding-top: 9px;
  }

  .labelWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .label{
      font-size: 14px;
      color: @rich-text;
      font-weight: 600;
    }
    .labelDesc {

    }
  }
}

.teamTableExpandIcon {
  cursor: pointer;
}

.childTable {
  background-color: @white;
  margin: -11px -9px !important;
}

.childTableCell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 8px;
}
