@import "~assets/less/variable";

.picker {
  height: 28px;
  border: 1px solid @border-color-base;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .colorIndicator {
    width: 14px;
    height: 14px;
    display: block;
  }
}
