.sharePanel {
  width: 331px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .panelHead {
    padding: 8px 0;
  }

  .panelContent {
    padding: 8px 0;

    .shareInput {
      width: 256px;
      height: 32px;
    }
  }
}
